<!--==================== HEADER ====================-->
  <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">
          <img src="/img/jp.png" alt="Juan PM Logo">
          <span>Juan Polvo</span>
        </a>
      <nav>
  </header>
